In [1]:
# import dependencies
# !pip install plotly.plotly
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly
import plotly as py
import plotly.offline as offline
import plotly.graph_objs as go
from sqlalchemy import create_engine

In [2]:
# Read dataset
df = pd.read_csv('Resources/bfro-report-locations.csv')
df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,I was canoeing on the Sipsey river in Alabama....,NaN,Winston County,Alabama,Summer,NaN,NaN,NaN,NaN,30680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45,-71.5,1974-09-20,6496.0,...,0.16,0.0,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92
3,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,It was May 1984. Two friends and I were up in ...,"Logging roads north west of Yamhill, OR, about...",Yamhill County,Oregon,Spring,NaN,NaN,NaN,NaN,703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# # split the timestamp to date and time columns
# df['dates'] = pd.to_datetime(df['timestamp']).dt.date
# df['time'] = pd.to_datetime(df['timestamp']).dt.time
# df.head()

In [4]:
#split title column into two columns
df[['Report', 'description']] = df['title'].str.split(':', 1, expand=True)
df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed,Report,description
0,I was canoeing on the Sipsey river in Alabama....,NaN,Winston County,Alabama,Summer,NaN,NaN,NaN,NaN,30680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45,-71.5,1974-09-20,6496.0,...,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92,Report 6496,Bicycling student has night encounter
3,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,It was May 1984. Two friends and I were up in ...,"Logging roads north west of Yamhill, OR, about...",Yamhill County,Oregon,Spring,NaN,NaN,NaN,NaN,703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# copy columns needed for project
df_clean = df[['state','season','latitude','longitude','description']].copy()
df_clean

,state,season,latitude,longitude,description
0,Alabama,Summer,NaN,NaN,NaN
1,Alaska,Fall,NaN,NaN,NaN
2,Rhode Island,Fall,41.45,-71.5,Bicycling student has night encounter
3,Pennsylvania,Summer,NaN,NaN,NaN
4,Oregon,Spring,NaN,NaN,NaN
...,...,...,...,...,...
5016,New Mexico,Summer,NaN,NaN,NaN
5017,Maryland,Spring,NaN,NaN,NaN
5018,Florida,Summer,NaN,NaN,NaN
5019,Illinois,Fall,NaN,NaN,NaN
5020,Illinois,Summer,NaN,NaN,NaN

In [15]:
df_clean=df_clean.dropna()
df_clean

,state,season,latitude,longitude,description
2,Rhode Island,Fall,41.45000,-71.50000,Bicycling student has night encounter
5,Oklahoma,Fall,35.30110,-99.17020,Motorist and children have daylight sighting ...
6,Ohio,Summer,39.38745,-81.67339,Sighting and vocalizations at a home in Wayne...
7,New York,Fall,41.29873,-73.73717,Fishermen and Law Enforcement Officer Report ...
8,Nevada,Fall,39.59200,-119.97500,Father and son hear vocalizations on Peavine Mt
...,...,...,...,...,...
5010,Kentucky,Fall,36.89771,-83.16293,ATV riders find possible tracks outside Evarts
5011,Kentucky,Winter,36.83193,-83.42429,Teen on four-wheeler has sighting on family p...
5012,Kentucky,Fall,37.95708,-84.97527,Father and son have a daylight encounter whil...
5013,Kentucky,Fall,37.97699,-84.90234,Dual sighting in late afternoon by deer hunte...
5015,Kentucky,Spring,36.77200,-86.14250,Man tells of Grandmother's encounters with sh...

In [16]:
df_clean['type'] = "Big foot"
df_clean

/var/folders/22/yjz6fvvj5fd3rtnhmx3wq2840000gn/T/ipykernel_24477/3285055223.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,state,season,latitude,longitude,description,type
2,Rhode Island,Fall,41.45000,-71.50000,Bicycling student has night encounter,Big foot
5,Oklahoma,Fall,35.30110,-99.17020,Motorist and children have daylight sighting ...,Big foot
6,Ohio,Summer,39.38745,-81.67339,Sighting and vocalizations at a home in Wayne...,Big foot
7,New York,Fall,41.29873,-73.73717,Fishermen and Law Enforcement Officer Report ...,Big foot
8,Nevada,Fall,39.59200,-119.97500,Father and son hear vocalizations on Peavine Mt,Big foot
...,...,...,...,...,...,...
5010,Kentucky,Fall,36.89771,-83.16293,ATV riders find possible tracks outside Evarts,Big foot
5011,Kentucky,Winter,36.83193,-83.42429,Teen on four-wheeler has sighting on family p...,Big foot
5012,Kentucky,Fall,37.95708,-84.97527,Father and son have a daylight encounter whil...,Big foot
5013,Kentucky,Fall,37.97699,-84.90234,Dual sighting in late afternoon by deer hunte...,Big foot
5015,Kentucky,Spring,36.77200,-86.14250,Man tells of Grandmother's encounters with sh...,Big foot

In [17]:
# df_clean = df[['state','season','date','latitude','longitude','description','type']].copy()
# df_clean

In [9]:
# # check the total number of data per state on the clean df
# count_per_state = df_clean['state'].value_counts()
# count_per_state.head()

In [10]:
# # !pip install folium
# import folium

# mymap = folium.Map(location=[33.3490, -96.5486],zoom_start=2)
# folium.Marker(location=[37.0902, -95.7129]).add_to(mymap)
# mymap

In [11]:
# # geocode big foot location from df to add markers on map
# Bigfoot_locations = list(zip(df_clean['latitude'].values, df_clean['longitude'].values))
# Bigfoot_locations[:5]

In [18]:
engine = create_engine("sqlite:///paranormal_activity.db")
df_clean.to_sql(name="paranormal", con=engine, if_exists="append", index=False)
pd.read_sql_query("select * from paranormal", con=engine).head()

,description,city,state,country,type,latitude,longitude,encounter_seconds,season
0,3 differants types &#44 cluster &#44delta &#44...,connersville,in,us,UFO,39.641111,-85.141111,14400.0,
1,Started off as 3 points of intense yellow ligh...,st. john&#39s (canada),nf,ca,UFO,47.550000,-52.666667,7200.0,
2,Bright lights with incredible agility seen fro...,rachel,nv,us,UFO,37.644722,-115.742778,10800.0,
3,pulsating green white and red object in the no...,temperance,mi,us,UFO,41.779167,-83.568889,18000.0,
4,For two consecutive nights&#44 we watched a pa...,crescent beach,sc,us,UFO,33.807500,-78.701111,37800.0,